@{
    ViewData["Title"] = "DisplayAllStates";
}

<h1>DisplayAllStates</h1>


<h2>

    Value in  ViewData["VD"] = @ViewData["VD"] <br />

    Value in  ViewBag.VB = @ViewBag.VB<br />

    Value in  TempData["TD"] = @TempData.Peek("TD")<br />

</h2>


