@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HiddenVariablesTechnique</title>
</head>
<body>

    <form method="post">
        <input name="txtdemo" type="text" value="" />
        <input type="hidden" name="hiddenValue" value="Some Value to Remember" />

        <input type="submit" value="Click" />


    </form>


</body>
</html>
